<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3 ">
        <div class="card card-blog">

            <div class="card-content">
                <h6 class="category text-info">Total Employees</h6>
                <p class="card-description">
                    <h4> {{count}} </h4>
                </p>
            </div>
        </div>

    </div>
    <div class="col-md-3  ">
        <div class="card card-blog">

            <div class="card-content">
                <h6 class="category text-info">Total Projects</h6>
                <p class="card-description">
                    <h4> {{count}} </h4>
                </p>
            </div>
        </div>

    </div>
    <div class="col-md-3 ">
        <div class="card card-blog">

            <div class="card-content">
                <h6 class="category text-info">Total Clients</h6>
                <p class="card-description">
                    <h4> {{count}} </h4>
                </p>
            </div>
        </div>

    </div>
    <div class="col-md-1"></div>
</div>


<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h4><small>Employee List</small></h4>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th>Name</th>
                        <th>Job Position</th>
                        <th>Age</th>
                        <th class="text-right">Salary</th>
                        <th class="text-right">Attendance</th>
                        <th class="text-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each emp}}
                    <tr>
                        <td class="text-center">1</td>
                        <td>{{firstname}}</td>
                        <td>{{Designation}}</td>
                        <td>{{age}}</td>
                        <td class="text-right">{{salary}}</td>
                        <td class="text-right">30%</td>
                        <td class="td-actions text-right">
                            <form action="/addemployee/{{id}}?_method=DELETE" method="POST">
                                <button type="submit" rel="tooltip" class="btn btn-danger">
                                    <i class="material-icons">close</i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <br>
        <br>

        <hr>
        <h4><small>Leaves approval list </small></h4>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th></th>
                        <th>Leave Type</th>
                        <th>from</th>
                        <th>to</th>
                        <th class="text-right">Reason</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each leaves}}
                    <tr>
                        <td class="text-center">1</td>
                        {{#if status}}
                        <td>

                            <button class="btn btn-sm btn-primary ">unapproved</button>
                        </td>
                        
                        {{else}}
                        <td>
                            <form action="leaves/{{id}}?_method=PUT" method="POST">
                            <button class="btn btn-sm btn-primary ">approve</button>
                            </form>
                        </td>
                        {{/if}}
                        </td>
                        <td>{{leaveType}}</td>
                        <td>{{from}}</td>
                        <td>{{to}}</td>
                        <td class="text-right">{{Reason}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

    </div>
</div>
<br>
<br>

<hr>

<h4 class="text-center"> Complaints & Reviews</h4>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        {{#each reviews}}
        <div class="card">
            <div class="card-content">
                <h4 class="card-title">
                    <a href="#pablo">{{title}}</a>
                </h4>
                <h4>
                    {{issue}}
                </h4>
                <div class="footer">
                    <div class="author">
                        <a href="#pablo">

                            <span>{{name}}</span>
                            <br>
                            {{date}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="col-md-3"></div>
</div>


<script>
    
 function oclick () {
     fetch(`localhost:4000/leaves/{id}`, {
         method: 'PUT',
         body: {
             status:true
         }
     }).then(res => {
         console.log(res)
     })
     

 }
    
     
</script>